# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log

# Pytest
.pytest_cache/

# IDE
.idea/

# Misc
*.swp